.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  font-size: 2rem;
  margin: 0px;
  color: white;
}

header > a {
  color: white;
}

span.card-title a {
  background-color: rgba(0,0,0,0.5);
  color: rgba(255,255,255,1.0);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.add-button-container {
  position: fixed;
  right: 5px;
  bottom: 5px;
}

.add-button {
  border: 0px;
  background-color: transparent;
}

.add-icon {
  width: 2vw;
  height: 2vw;
}

.preview-image {
  max-width: 200px;
  max-height: 200px;
}